export(cumr)
export(cumround)
export(histplot)
export(histplot2)
export(histw)
export(histw2)
export(inflate)
export(project)
export(sampwor)
export(stochround)
S3method(plot,histw)
S3method(plot,histw2)
S3method(print,histw)
S3method(print,histw2)
useDynLib(jurr)
