export(add_alpha)
export(cumr)
export(cumround)
export(histplot)
export(histplot2)
export(histw)
export(histw2)
export(inflate)
export(linesby)
export(plot.histw)
export(plot.histw2)
export(print.histw)
export(print.histw2)
export(project)
export(sampwor)
export(stochround)
export(wbstr)
S3method(plot,histw)
S3method(plot,histw2)
S3method(print,histw)
S3method(print,histw2)
useDynLib(jurr)
